apiVersion: apps/v1
kind: Deployment
metadata:
  name: dnsmasq
  labels:
    app: dnsmasq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dnsmasq
  template:
    metadata:
      labels:
        app: dnsmasq
    spec:
      containers:
      - name: dnsmasq
        image: quay.io/rjhowe/dnsmasq:latest
        command: ["/usr/sbin/dnsmasq","--no-daemon"]
        ports:
        - containerPort: 5353
        resources:
          requests:
            cpu: 200m
            memory: 1Gi
          limits:
            cpu: "1"
            memory: 1Gi
        volumeMounts:
        - name: dnsmasq-config
          mountPath: /etc/dnsmasq.d/
      volumes:
      - name: dnsmasq-config
        configMap:
          name: dnsmasq-config
---
apiVersion: v1
kind: Service
metadata:
  name: dnsmasq
spec:
  type: NodePort
  selector:
    app: dnsmasq
  ports:   
    - port: 53
      targetPort: 5353
      nodePort: 30053
      protocol: UDP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dnsmasq-config
data:
  blackhole.config: |
    port=5353
    no-resolv
    address=/#/
    log-facility=- 
    log-queries
